[submodule "Algorithms"]
	path = Algorithms
	url = https://github.com/GabrielFrigo4/cp-training.git
	branch = main
[submodule "Marathon"]
	path = Marathon
	url = https://github.com/GabrielFrigo4/icpc-training.git
	branch = main
